<p-menubar>
  <ng-template pTemplate="start">
    <i class="pi pi-align-left"></i>
    <input type="text" pInputText class="ml-20" placeholder="Search" />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="menu-end">
      <i class="pi pi-bell text-3xl" pBadge value="2"></i>
      <img
        src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
        alt="Image"
        width="70"
        class="mr-20 ml-20"
      />
      <div class="menu-end__info">
        <span class="menu-end__info--name">Nam Nguyễn</span>
        <br />
        <span class="menu-end__info--role">Admin</span>
      </div>
    </div>
  </ng-template>
</p-menubar>
